$color-primary: #c69963;
$color-primary-dark: #b28451;

$color-secondary: #101d2c;

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;

$color-grey-dark-1: #54483a;
$color-grey-dark-2: #6d5d4b;

@mixin transitionBtn {
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  cursor: pointer;
}

@font-face {
  font-family: "vazir";
  src: url("../fonts/Vazir.eot") format("eot"),
    url("../fonts/Vazir.ttf") format("ttf"),
    url("../fonts/Vazir.woff") format("woff");
}
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 100%;
}

body {
  font-family: "vazir";
  color: $color-grey-dark-2;
  font-weight: 300;
  line-height: 1.6;
  direction: rtl;
}

.preloader {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 999;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide {
    display: none !important;
}


button,
input {
  font-family: "vazir";
}
.container {
  display: grid;
  grid-template-rows: 80vh min-content 40vw repeat(3, min-content);
  grid-template-columns:
    [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem, 1fr)
    [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end])
    [center-end] minmax(6rem, 1fr) [full-end];

    
  @media screen and (max-width: 992px) {
    grid-template-rows: 6rem min-content 40vw repeat(3, min-content);
    grid-template-columns:
   [full-start] minmax(6rem, 1fr)
      [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end])
      [center-end] minmax(6rem, 1fr) [full-end];
  }
}
