.sidebar {
  background-color: $color-primary;
  grid-column: sidebar-start / sidebar-end;
  grid-row: 1 / -1;
  @media screen and (max-width: 992px) {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    justify-content: flex-end;
  }
  .hamburger__menu {
    width: 80px;
    height: 80px;
    margin: 1.5rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    div {
      position: relative;
      width: 80%;
      height: 4px;
      background-color: $color-grey-light-1;
      &::before {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        transform: translateY(-20px);
        -webkit-transform: translateY(-20px);
        -moz-transform: translateY(-20px);
        -ms-transform: translateY(-20px);
        -o-transform: translateY(-20px);
        background-color: $color-grey-light-1;
}
      &::after {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        transform: translateY(20px);
        -webkit-transform: translateY(20px);
        -moz-transform: translateY(20px);
        -ms-transform: translateY(20px);
        -o-transform: translateY(20px);
        background-color: $color-grey-light-1;
}
    }
    @media screen and (max-width: 992px){
      margin: 0 auto;
    }
  }



}
