$color-light-green: #7ed56f;
$color-Medium-green: #55c57a;
$color-dark-green: #28b485;

$color-light-orange:#ffb900;
$color-dark-orange:#ff7730;

$color-light-blue:#2998ff;
$color-dark-blue:#5643fa;

$color-gray-dark: #777;
$color-white: #fff;
$color-black: #000;

$font-size-50: 5rem;
$font-size-40: 4rem;
$font-size-30: 3rem;
$font-size-20: 2rem;
$font-size-10: 1rem;



$custom-padding: 5rem 0;
$custom-margin: 5rem 0;
$box-shadow-custom: 0 .75rem 1.5rem rgba(17, 17, 26, 0.315);
